<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="pencatatan keuangan UMKM" />
    <title>BooKu</title>
    <link rel="icon" href="favicon.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <navbar-brand></navbar-brand>
    </header>

    <main>
      <div class="form-container">
        <div class="container">
          <div class="row px-3">
            <div class="card col-lg-10 col-xl-9 flex-row mx-auto px-0">
              <div class="img-left d-none d-md-flex"></div>

              <div class="card-body">
                <h4 class="title text-center mt-5">Registrasi Akun</h4>

                <form class="form-box px-3">
                  <div class="form-input">
                    <span><i class="fa fa-envelope-o"></i></span>
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="form-input">
                    <span><i class="fa fa-key"></i></span>
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="form-input">
                    <span><i class="fa fa-key"></i></span>
                    <input
                      type="password"
                      name="confirmPassword"
                      placeholder="Ulangi Password"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <button type="submit" class="btn btn-block">Daftar</button>
                  </div>

                  <div class="text-center mb-2">
                    Sudah memiliki akun?
                    <a
                      href="login.html"
                      class="link"
                      aria-label="klik di sini jika kamu telah memiliki akun"
                      >Masuk</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
